<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News evaluator with NLP</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

  <header>
    <div class="">
      News evaluator with NLP
    </div>
  </header>

  <main>
    <section>
      <form class="" onsubmit="return Client.handleSubmit(event)">
        <input id="url" type="text" name="url" value="" onblur="return Client.urlChecker()" placeholder="Enter an URL">
        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
      </form>
      <section>

        <section>
          <strong>Form Results:</strong>
          <div id="results">
            <div id="polarity"></div>
            <div id="subjectivity"></div>
            <div id="polarity_confidence"></div>
            <div id="subjectivity_confidence"></div>
            <div id="text"></div>
          </div>
        </section>
  </main>

  <footer>
    ©2020, Built with <span style="color:red;margin:0 0.4rem">♥</span> by<a rel="noreferrer" style="margin-left:0.4rem" target="_blank" href="https://github.com/gersongams">@gersongams</a>
  </footer>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>